/* frontend/src/components/DateCard.css */

.date-card {
    background-color: #3b4a77; /* 主品牌藍色修正 */
    color: #ffffff;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(59, 74, 119, 0.3); /* 藍色調陰影修正 */
}

.date-card h2 {
    color: #fff;
    font-size: 2.2em;
    margin-bottom: 5px;
    font-weight: 600;
}

.date-card .date-number {
    font-size: 5.5em;
    font-weight: 800;
    line-height: 1;
    margin-top: 0;
}