/* frontend/src/components/DateCard.css */

.date-card {
    background: linear-gradient(135deg, #4a69bd, #3b5998); /* 漸變背景 */
    color: #ffffff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date-card h2 {
    color: #fff;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.date-card .date-number {
    font-size: 4em;
    font-weight: bold;
    line-height: 1;
    margin-top: 10px;
}