/* frontend/src/components/TimeTrackerCard.css */
.time-tracker-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.time-tracker-card .card-title {
  margin-bottom: 15px;
}

.log-time-button {
  background-color: #3498db;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.log-time-button:hover {
  background-color: #217dbb;
}